/* @override 
  http://127.0.0.1:8000/static/css/trends.css
  http://localhost:8000/static/css/trends.css
*/

body, html {
  font-family: Helvetica Neue;
  font-size: 100%;
  padding: 0;
  margin: 0;
  min-width: 700px; 
}

.selected-theme{
	font-weight: bold;
}

a:active{
	outline: none;
} 
a:focus{
	-moz-outline-style: none;
}

#tips {
	display: none;
	position: absolute;
	top: 50px;
	width: 250px;
	left: 440px;
	background: #a1bbff;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#tips ul{
	font-size: 90%;	
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#tips ul li{
	margin: 10px 0px 10px 0px;	
}

#logo_area {
	width: 600px;
	margin-left: 30px;	
}

#header_by_logo{
	text-align: right;
	float: right;
	width: 30%;
	margin-top: 30px;
}

#logo_area img{
	text-align: center;
	height: 100px;

}

#content{
	margin-left: 30px;
	width: 90%;
	padding: 0 0.5em;
}

a {
	text-decoration: none;
	color: #040089;
}

a:hover{
	text-decoration: underline;
}

#header_by_logo { display:block; padding-left: 2em; }
#trends { font-size: 0.8em; }
#spinny { margin-left: 0.7em; }

#query {
  width: 275px;
  height: 20px;
  margin-right: 10px;
  font-family: inherit;

  font-weight: bold;
  font-size:  1em;
  padding: 0.3em;
  border: 1px solid #cfcfcf;
}
#main{
	display: none;
  margin-top: 10px;
  min-width: 600px;
}

.authors { font-size: 0.7em; }
a.m {
  font-style: italic;
  text-decoration: none;
  color: #7f7f7f;
}
.rest_tweets_msg { font-size: 0.7em; }
.rest_tweets_msg a { color: #5f5f8f; }
a.at {
  font-style: italic;
  color: #7f7f7f;
  text-decoration: none;
}

h3 {
  margin-bottom: 0px;
}

span.newsearch {
  font-size: 1.5em;
  color: black;
  text-decoration:none;
  cursor: pointer;
}
span.newsearch:hover {
  text-decoration: underline;
}

.theme {
  margin-top: 1.4em;
}

h2 {
  font-style: italic;
  font-weight: normal;
  font-family: Georgia;
}

.tweet {
  margin: 5px 10px 10px 5px;
}
.rest_tweets {
  margin: 5px 10px 10px 15px;
}
.rest_tweet {
  margin: 0px 0px 0px 0px;
  padding: 5px 5px 5px 5px;
  background: #eee;
}

span.q_hl {
  background-color: #fbbc5d;
	color: #000;
	padding: 1px;
}

span.topic_hl {
  background-color: #b9c6f2;
	color: #131313;
	padding: 1px;	
}

#themelistcontainer ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 02px;
  width: 115px;
  float: left;
}

#themelistcontainer ul li {
  margin-bottom: 5px;
  padding: 0;
}

ul#themelist-col1 {
	margin-left: 10px;
}

#themelistcontainer a {
  text-decoration: none;
  color: #164182;
}


h2 { margin: 0px; }

.extratweets { display: none; }

.content_header h2 { 
	margin: 0 0.6em 0 0;
	display:inline;
	font-style: italic; 
	font-weight: bold;
}

.prefill-suggestions{
	float: left;
	width: 300px;
	margin-right: 30px;
	margin-bottom: 20px;
}

#themelistcontainer
{
  color: black;
  float: left;
  /*background-color: black;*/
  width: 260px;
  margin-left: -100%;

  border-right: 1px solid #AAA;  
}

#resultswrapper {
  float: left;
  width: 100%;
}
#resultscontent {
  padding: 0px 20px;
  margin-left:  260px;
  width: 500px;
  height: 500px;
  
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;  
}